.accounts-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg-main);
  color: var(--text-main);
}

.accounts-main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.accounts-main-content {
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem;
  background-color: var(--bg-secondary);
}
